$vspacing: 1.5em;



.guide_desc {
	margin-bottom: $vspacing*2;
}

.style_section {
	margin-bottom: $vspacing*2;
	padding-bottom: $vspacing*2;
	border-bottom: 1px solid;
}

.section_title {
	display: inline-block;	
}

.backtotoplink {
	display: inline-block;
	float: right;
}

.section_description {

}

.style_item {
	margin-bottom: $vspacing*2;
}

.item_title {

}

.item_desc {

}

.item_example {
	padding: $vspacing;
	border: dotted;
	display: block;
	overflow: hidden;
}

.top_spacer {
	padding-top: 35px;
}
