.guide_desc {
  margin-bottom: 3em; }

.style_section {
  margin-bottom: 3em; }

.style_item {
  margin-bottom: 3em; }

.item_example {
  padding: 1.5em;
  border: dotted;
  display: block;
  overflow: hidden; }
