$vspacing: 1.5em;



.guide_desc {
	margin-bottom: $vspacing*2;
}

.style_section {
	margin-bottom: $vspacing*2;	
}

.section_title {

}



.section_description {

}

.style_item {
	margin-bottom: $vspacing*2;
}

.item_title {

}

.item_desc {

}

.item_example {
	padding: $vspacing;
	border: dotted;
	display: block;
	overflow: hidden;
}


